<!DOCTYPE html>
<html>
    <head>
        <title>Iframe</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section id="contenido">
            <h2>Ejemplos de iframe</h2>
            <article>
                <header><h3>La pagina de la Fidelitas</h3></header>
                <iframe src="https://sistemas.ufidelitas.ac.cr/" width="700" height="400">  
                </iframe>
                <footer>Escuela de Sistemas de la Fidelitras</footer>
            </article>
            <article>
                <header><h3>Video de Youtube</h3></header>
                <iframe width="500" height="280"
                        src="https://www.youtube.com/embed/kN1XP-Bef7w"
                        title="Youtuber"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; guroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
                <footer>Alguien mostrando html5</footer>
            </article>
            <article>
                <header><h3>Stem Center</h3></header>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.9805280581695!2d-84.03794158516743!3d9"
                    width="600"
                    height="450"
                    style="border:0;" allowfullscreen=""></iframe>
                <footer>La ubicacion del stem center en Google Maos</footer>
            </article>
        </section>
    </body>
</html>
